*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    background-color: #fff;
    color: #333;
}

.container{
    width: 100%;
    height: 100vh;
}

.header-wrap{
    display: flex;
    justify-content: center;
}

.header{
    width: 69%;
    display: flex;
    padding: 4rem 1rem 1rem 1rem;
    margin-bottom: 2rem;
    
}
.title{

    font-weight: 600;
    width: 50%;
}

.description{
    margin-left: 20rem;
    width: 50%;
}

.description h3{
    margin-bottom: 0.7rem;
}

.description p{ 
    width: 80%;
}

/* Second item */

.content{
    display: flex;
    justify-content: center;
    
}

.profiles{
    width: 73%;
    justify-items: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 0;
    
}

.profile{
    padding: 2.8rem;
    margin:1px;
}


.profiles > div:nth-child(2) {
    margin-top: 4rem;
  }

.profiles > div:nth-child(5) {
    margin-top: 4rem;
}

.profile img{
    max-width: 100%;
}

/* footer */

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
    color: #333;
}

@media screen and (max-width: 1000px){
    .header{
        width: 90%;
    }
    .description{
        margin-left: 5rem;
        width: 70%;
    }
    .description h3{
        margin-bottom: 0.7rem;
    }
    .description p{ 
        width: 100%;
    }


    /* content */
    .profiles{
        width: 90%;
        grid-template-columns: repeat(2, 1fr);
        
    }

    .profile{
        padding: 1rem;
        
        
    }

    .profiles > div:nth-child(5) {
        margin-top: 0;
    }
    
    .profiles > *:nth-child(2n):not(:first-child) {
        margin-top: 2rem; /* Adjust the margin-top for the second column items */
    }

   

}